Source: libad9166
Section: libs
Priority: optional
Maintainer: Cosmin Tanislav <cosmin.tanislav@analog.com>
Build-Depends: cmake (>= 2.8), debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://github.com/analogdevicesinc/libad9166-iio
Vcs-Git: git://github.com/analogdevicesinc/libad9166-iio

Package: libad9166-0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library of functions specific to the Analog Devices AD9166
 This library contains a few functions useful to configure and use the
 Analog Devices AD9166 DAC.

Package: libad9166-dev
Architecture: any
Depends: libad9166-0 (= ${binary:Version}), ${misc:Depends}
Description: Library of functions specific to the Analog Devices AD9166
 This library contains a few functions useful to configure and use the
 Analog Devices AD9166 DAC.
 .
 This package contains the development files.
